<form name="newUserForm" accept-charset="UTF-8" ng-submit="newSignUp(newUserForm.$valid, newUser, newUserForm)">

  <div class="field">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" type="email" name="email" ng-model="newUser.email" id="user_email" required>
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(6 characters minimum)</em>
    <br>
    <input autocomplete="off" type="password" name="password" ng-model="newUser.password" ng-minlength="8" required>
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br>
    <input autocomplete="off" type="password" name="password_confirmation" ng-model="newUser.password_confirmation" ng-minlength="8" required>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
  </div>
</form>
