// Place all the styles related to the angular controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  box-sizing: border-box!important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top:70px
}

.dndDraggingSource {
  display: none;
}

.board-header {
  margin: 0 0 10px 0;
}

.horizontal-scroll {
  white-space: nowrap;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  transition: all 1s;

  .scroll-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    height: 100%;

    .panel {
      height: calc(100% - 15px);
      .panel-title{
        margin:0;
      }
      .list-group {
        height: 100%;
        max-height: calc(100% - 83px);
        overflow-y: auto;
      }
    }
  }
}

.align-bottom {
  display: inline-block;
  vertical-align: bottom;
}

a, .clickable {
  cursor: pointer;
}

.dndPlaceholder {
  background: #ccc;
  border: 1px solid #333;
  border-radius: 4px;
  height: 46px;
  box-shadow: 1px 1px 1px #777;
  margin: 10px;
  list-style: none;

}

a.list-group-item:before {
  content: '';
}
.panel {
  .list-group {

    .list-group-item {
      margin: 10px;
      padding: 0;
      border: 0;
      .face {
        border: 1px solid #333;
        border-radius: 4px;
        padding:10px 15px;
        box-shadow: 1px 1px 1px #777;
      }
      .list-group-item-heading,
      .list-group-item-text {
        padding-left: 3px;
      }
    }

    .list-group-item .row > div.col-sm-5 {
      margin-left: 10px;

    }

    .list-group-item .row > div.col-sm-6 {
      margin-left: -10px;
    }

  }
  .panel-title {
    margin-top: 13px;
    margin-right: 7px;
  }


  .form-inline {
    padding-right: 1.1em;
  }

  .form-inline .btn-primary {
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 768px) {
  .form-inline {
    padding-right: 0;
   }

  .form-inline .btn-primary {
    margin-top: 0;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .list-group-item .row > div.col-sm-5 {
    margin-left: 0px;
    padding-left: 5px;
  }
  .list-group-item-heading {
    margin-top: 3px;
  }
}

@media (max-width: 250px) {
  #search {
    padding-left: 10px;
  }
}

.flip {
  -webkit-perspective: 800;
  position: relative;
}

.flip .list-group-item {
  margin: 0px;
  -webkit-transform-style: preserve-3d;
  transition: all 0.5s;
  .face {
    -webkit-backface-visibility: hidden ;
  }
  .front {
    cursor: pointer;
    &:hover{
      background: #ddd;
    }
  }
  .back {
    -webkit-transform: rotatey(-180deg);
    background: #eee;
  }
  &.flipped {
    -webkit-transform: rotatey(-180deg);
    .front {
      height: 0;
      padding: 0;
    }
  }
}
